<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Достояние Оренбуржья"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".CulltureActivity"
            android:exported="false"
            android:label="@string/title_activity_cullture"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".BuzulukMilk"
            android:exported="false"
            android:label="@string/title_activity_buzuluk_milk"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".OrenShal"
            android:exported="false"
            android:label="@string/title_activity_oren_shal"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".OrenHladoCombinat"
            android:exported="false"
            android:label="@string/title_activity_oren_hlado_combinat"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".BrendActivity"
            android:exported="false"
            android:label="@string/title_activity_brend"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity2"
            android:exported="false"
            android:label="@string/title_activity_2"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>